[submodule "InternalFrameworks/MMFoundation"]
	path = InternalFrameworks/MMFoundation
	url = ../MMFoundation
[submodule "InternalFrameworks/MoneySaverAppCore"]
	path = InternalFrameworks/MoneySaverAppCore
	url = ../MoneySaverAppCore
